<!DOCTYPE html>
<html lang="en">
	<head>

        <%- include partials/head.ejs %>

	</head>
	<body style="background: lightgray">

    <%- include partials/nav.ejs %>


    <div class="wrapper" style="margin-top:50px;padding-left:10px;">
      <h1>Article Saved!</h1>
      <a href="/articleDashboard"><p>Head to Article Dashboard</p></a>
      <a href="/listDashboard"><p>Head to List Dashboard</p></a>
      <a href="/"><p>Head to Home Page</p></a>
    </div>

    <%- include partials/footer.ejs %>
	<!-- script references -->
    <script src="javascripts/skippr.js"></script>
	</body>
</html>